@model Student;
@{
    ViewData["Title"] = "แก้ไขข้อมูล";
}

<h1 class="text-center">แก้ไขข้อมูล</h1>
<form method="POST" asp-controller="Student" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Score"></label>
        <input type="number" asp-for="Score" class="form-control"/>
        <span asp-validation-for="Score" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary my-2">อัพเดต</button>
</form>
